@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(16, 10, 34);
    color: white;
}

.texto-destacado{
    color: rgb(98, 207, 241);
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.presentacion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion_contenido_subtitulo {
    font-size: 12px;
    font-family: "Krona One", sans-serif;
}

.presentacion_contenido_texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
}

.presentacion__enlaces__link{
    width: 280px;
    background-color:rgb(98, 207, 241);
    text-align: center;
    padding: 21.5px, 0;
    border-radius: 16px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 0, 0)
}