@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: rgb(16, 10, 34);
    color: white;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family:"Montserrat", sans-serif ;
    font-size: 24px;
    font-weight: 600;
    color: rgb(98, 207, 241);
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 15%;
}

.presentacion_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.texto-destacado{
    color: rgb(98, 207, 241);
}

.presentacion_contenido_subtitulo {
    font-size: 12px;
    font-family: "Krona One", sans-serif;
}

.presentacion_contenido_subtitulo:hover {
    border: 2px solid rgb(88, 74, 212);
    font-size:14px;
}

.presentacion_contenido_texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family:"Krona One", sans-serif;
    font-size:24px;
    font-weight:400;
}

.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    padding: 21.5px, 0;
    border-radius: 8px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid rgb(98, 207, 241);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover {
    background-color: #272727;
    border: 2px solid rgb(88, 74, 212);
    cursor: pointer;
}

.footer{
    background-color: rgb(98, 207, 241);
    padding: 24px;
    color:rgb(16, 10, 34);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}